<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorites</title>
  </head>
  <body>
    {{!--{{#each favourites}}
      <h1>{{name}}</h1>
      <h2>{{flag}}</h2>
    {{/each}}--}}
    <div class="container">

      {{#if favourites}}
        <h1 class="mb-6" data-aos="zoom-in">Favorites</h1>
      {{else if players}}
        <h1 class="mb-6" data-aos="zoom-in">Favorites</h1>
      {{else if teams}}
        <h1 class="mb-6" data-aos="zoom-in">Favorites</h1>

      {{else}}
        <div data-aos="zoom-in" class="favourites">
          <h1 class="mb-6" data-aos="zoom-in">You don't have any favorites yet.</h1>
          <a href="/leagues"><button
              type="button"
              class="btn btn-primary btn-circle"
            >+</button>
          </a>
        </div>
      {{/if}}
      <div class="center-favourites">
        {{#if favourites}}
          <h3 class="mb-4">Leagues</h3>
          <div class="col-md-12 col-sm-12">

            <ul class="list-group list-favourites">

              {{#each favourites}}

                <li class="list-group-item">

                  <div class="d-flex" style="justify-content: space-between;">
                    <span style="font-weight:600; font-size: 18px;">
                      <img
                        class="me-2"
                        height="30"
                        width="30"
                        src={{flag}}
                      />
                      <a href="leagues/{{id}}/teams">{{name}}</a>
                    </span>
                    <form action="/favorites/delete" method="post">
                      <input
                        type="text"
                        name="name"
                        value="{{name}}"
                        style="display: none;"
                      />
                      <button type="submit" class="star-button">
                        <span class="fa fa-star checked">
                        </span>
                      </button>
                    </form>
                  </div>

                </li>

              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if teams}}
          <div class="mt-4">
            <h3 class="mb-4">Teams</h3>

            <div class="col-md-12 col-sm-12">
              <ul class="list-group list-favourites">

                {{#each teams}}

                  <li class="list-group-item">

                    <div class="d-flex" style="justify-content: space-between;">
                      <span style="font-weight:600; font-size: 18px;">
                        <img class="me-2" height="30" width="30" src={{flag}} />

                        <a href="/leagues/{{id}}/team">{{name}}</a>
                      </span>

                      <form action="/favorites/teams/delete" method="post">
                        <input
                          type="text"
                          name="name"
                          value="{{name}}"
                          style="display: none;"
                        />
                        <button type="submit" class="star-button">
                          <span class="fa fa-star checked">
                          </span>
                        </button>
                      </form>
                    </div>

                  </li>

                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}

        {{#if players}}

          <div class="mt-4">
            <h3 class="mb-4">Players</h3>

            <div class="col-md-12 col-sm-12">
              <ul class="list-group list-favourites">

                {{#each players}}

                  <li class="list-group-item">

                    <div class="d-flex" style="justify-content: space-between;">
                      <span style="font-weight:500; font-size: 18px;">
                        <img class="me-2" height="30" width="30" src={{flag}} />
                        {{name}}
                      </span>

                      <form action="/favorites/players/delete" method="post">
                        <input
                          type="text"
                          name="name"
                          value="{{name}}"
                          style="display: none;"
                        />
                        <button type="submit" class="star-button">
                          <span class="fa fa-star checked">
                          </span>
                        </button>
                      </form>
                    </div>

                  </li>

                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </body>

</html>