<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorites</title>
  </head>
  <body>
    {{!--{{#each favourites}}
      <h1>{{name}}</h1>
      <h2>{{flag}}</h2>
    {{/each}}--}}
    <div class="container">
      {{#if favourites}}
        <h1 class="mb-6" data-aos="zoom-in">Favorites</h1>
      {{else if players}}
        <h1 class="mb-6" data-aos="zoom-in">Favorites</h1>
      {{else if teams}}
        <h1 class="mb-6" data-aos="zoom-in">Favorites</h1>

      {{else}}
        <div data-aos="zoom-in" class="favourites">
          <h1 class="mb-6" data-aos="zoom-in">You dont have any favourites yet</h1>
          <a href="/leagues"><button
              type="button"
              class="btn btn-primary btn-circle"
            >+</button>
          </a>
        </div>
      {{/if}}
      {{#if favourites}}
        <h2>Leagues</h2>
        <div class="col-md-8 col-sm-12">

          <ul class="list-group list-favourites">

            {{#each favourites}}

              <li class="list-group-item">
                <span style="font-weight:600;">
                  <img
                    class="me-2"
                    height="20"
                    width="20"
                    src={{flag}}
                  />{{name}}
                </span>

              </li>

              <form action="/favorites/delete" method="post">
                <input
                  type="text"
                  name="name"
                  value="{{name}}"
                  style="display: none;"
                />
                <button type="submit" class="star-button">
                  <span class="fa fa-star checked">
                  </span>
                </button>
              </form>

            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>

    {{#if teams}}
      <div class="container mt-4">
        <h2>Teams</h2>

        <div class="col-md-8 col-sm-12">
          <ul class="list-group list-favourites">

            {{#each teams}}

              <li class="list-group-item">
                <span style="font-weight:600;">
                  <img class="me-2" height="20" width="20" src={{flag}} /><a
                    href="leagues/{{id}}/teams"
                  >{{name}}</a>
                </span>

              </li>

              <form action="/favorites/teams/delete" method="post">
                <input
                  type="text"
                  name="name"
                  value="{{name}}"
                  style="display: none;"
                />
                <button type="submit" class="star-button">
                  <span class="fa fa-star checked">
                  </span>
                </button>
              </form>

            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}

    {{#if players}}

      <div class="container mt-4">
        <h2>Players</h2>

        <div class="col-md-8 col-sm-12">
          <ul class="list-group list-favourites">

            {{#each players}}

              <li class="list-group-item">
                <span style="font-weight:600;">
                  <img class="me-2" height="20" width="20" src={{flag}} />
                  <a href="leagues/{{id}}/teams">{{name}}</a>
                </span>

              </li>

              <form action="/favorites/players/delete" method="post">
                <input
                  type="text"
                  name="name"
                  value="{{name}}"
                  style="display: none;"
                />
                <button type="submit" class="star-button">
                  <span class="fa fa-star checked">
                  </span>
                </button>
              </form>

            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}

  </body>

</html>