<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body >
<div class="home" >
    
    <div class="banner" >
    
    

    </div>

    <div class="container playersRandom ">
        <h2 data-aos="zoom-in-right">Players of the day</h2>
      <!-- Three columns of text below the carousel -->
      <div class="row players-home">
        <div class="col-lg-4" data-aos="fade-up">
          <img
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            src="{{randomPlayerImage.image_path}}"
            
          ></img>
          <h3>{{randomPlayer.name}}</h3>
          <div style="display:flex; flex-direction: row; align-items: stretch;
    justify-content: center;"><img
              style="max-height: 22px"
              class="me-2"
               src="https://www.sciencekids.co.nz/images/pictures/flags680/{{randomPlayer.nationality}}.jpg"
            />
            <p>{{randomPlayer.nationality}}</p></div>
         <div style="display:flex; flex-direction: row; align-items: stretch;
    justify-content: center;"><img
              style="max-height: 30px"
              class="me-2"
              src="{{randomPlayer.currentTeam.crest}}"
            /> <p>{{randomPlayer.currentTeam.name}}</p></div>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 " data-aos="fade-up" data-aos-delay="0.5">
           <img
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            src="{{randomPlayerImage2.image_path}}"
            
          ></img>
           <h3>{{randomPlayer2.name}}</h3>
          <div style="display:flex; flex-direction: row; align-items: stretch;
    justify-content: center;"><img
              style="max-height: 22px"
              class="me-2"
              src="https://www.sciencekids.co.nz/images/pictures/flags680/{{randomPlayer2.nationality}}.jpg"
            />
            <p>{{randomPlayer2.nationality}}</p></div>
         <div style="display:flex; flex-direction: row; align-items: stretch;
    justify-content: center;"><img
              style="max-height: 30px"
              class="me-2"
              src="{{randomPlayer2.currentTeam.crest}}"
            /> <p>{{randomPlayer2.currentTeam.name}}</p></div>
        </div><!-- /.col-lg-4 -->
        
       <div class="col-lg-4" data-aos="fade-up" data-aos-delay="1">
           <img
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            src="{{randomPlayerImage3.image_path}}"
            
          ></img>
           <h3>{{randomPlayer3.name}}</h3>
          <div style="display:flex; flex-direction: row; align-items: stretch;
    justify-content: center;"><img
              style="max-height: 22px"
              class="me-2"
               src="https://www.sciencekids.co.nz/images/pictures/flags680/{{randomPlayer3.nationality}}.jpg"
            />
            <p>{{randomPlayer3.nationality}}</p></div>
         <div style="display:flex; flex-direction: row; align-items: stretch;
    justify-content: center;"><img
              style="max-height: 30px"
              class="me-2"
              src="{{randomPlayer3.currentTeam.crest}}"
            /> <p>{{randomPlayer3.currentTeam.name}}</p></div>
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->
		 <h2 class="latestNewsTitle" data-aos="zoom-in-right">Latest news </h2>
      <hr class="featurette-divider" />

      <div class="row featurette" data-aos="fade-left">
        <div class="col-md-7" >
          <h3 class="featurette-heading">{{news.articles.0.title}}
          </h3>
          <p class="lead">{{news.articles.0.description}}</p>
	<p ><small class="text-muted"><spam
                            style="font-weight: 500;"
                          >Published:</spam>
                          {{dateFormat news.articles.0.publishedAt "dddd, MMMM Do YYYY"}}
                        </small></p>
<a target="_blank" href="{{news.articles.0.url}}" class="btn btn-primary news-button">Read
                        More</a>
        </div>
        <div class="col-md-5">
          {{#if news.articles.0.urlToImage}}
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
           height="200"
            src={{news.articles.0.urlToImage}}
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
           
          ></img>
{{else}}
  <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
           height="200"
            src="https://img.olympicchannel.com/images/image/private/t_social_share_thumb/f_auto/primary/qjxgsf7pqdmyqzsptxju"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
           
          ></img>
{{/if}}
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette" data-aos="fade-right">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading">{{news.articles.1.title}}
           </h3>
          <p class="lead">{{news.articles.1.description}}</p>
<p ><small class="text-muted"><spam
                            style="font-weight: 500;"
                          >Published:</spam>
                          {{dateFormat news.articles.1.publishedAt "dddd, MMMM Do YYYY"}}
                        </small></p>
  <a target="_blank" href="{{news.articles.1.url}}" class="btn btn-primary news-button">Read
                        More</a>
        </div>
        <div class="col-md-5 order-md-1">
         {{#if news.articles.1.urlToImage}}
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
           height="200"
            src={{news.articles.1.urlToImage}}
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
           
          ></img>
{{else}}
  <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
           height="200"
            src="https://img.olympicchannel.com/images/image/private/t_social_share_thumb/f_auto/primary/qjxgsf7pqdmyqzsptxju"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
           
          ></img>
{{/if}}
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette" data-aos="fade-left">
        <div class="col-md-7">
          <h3 class="featurette-heading">{{news.articles.2.title}}</h3>
          <p class="lead">{{news.articles.2.description}}</p>
<p ><small class="text-muted"><spam
                            style="font-weight: 500;"
                          >Published:</spam>
                          {{dateFormat news.articles.2.publishedAt "dddd, MMMM Do YYYY"}}
                        </small></p>
<a target="_blank" href="{{news.articles.2.url}}" class="btn btn-primary news-button">Read
                        More</a>
        </div>
        <div class="col-md-5">
       {{#if news.articles.2.urlToImage}}
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
           height="200"
            src={{news.articles.2.urlToImage}}
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
           
          ></img>
{{else}}
  <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
           height="200"
            src="https://img.olympicchannel.com/images/image/private/t_social_share_thumb/f_auto/primary/qjxgsf7pqdmyqzsptxju"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
           
          ></img>
{{/if}}
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Footer</span>
      </div>
    </footer>
 </div>
  </body>
</html>