<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function myfunction(id) {
        const leagueID = id;
        const newFavorite = await Favorites.create({
          title,
          author,
          description,
          rating
        });
      }
    </script>
  </head>
  <body>
    <div class="container mt-4 leagues">
      <h1 class="mb-6">Check the top leagues</h1>
      <div class="row row-cols-1 row-cols-md-5 g-5">
        {{#each competitions}}
          <div class="col d-flex align-items-stretch justify-content-center">
            <div class="card leagues-card" style="width: 18rem;">
              <div class="image-div">
                <img src="{{emblem}}" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">

                <h5 class="card-title">{{name}}</h5>
                <div class="d-flex">
                  {{#if area.flag}}
                    <div>
                      <img
                        src="{{area.flag}}"
                        class="card-img-top"
                        alt="..."
                        width="24px"
                        height="24px"
                      />
                    </div>
                  {{/if}}

                  <p class="card-text ms-2">{{area.code}}</p>
                </div>
                <a href="leagues/{{id}}/teams" class="btn button-check">Check
                  League</a>

                 <form action="/favorites" method="post">
                  <input type="text" name="flag" value="{{area.flag}}" style="display: none;">
                  <input type="text" name="name" value="{{name}}" style="display: none;">

                  <button type="submit">Add to Favorites</button>
                  </form>

              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>