<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
    />

  </head>
  <body>
    <div class="container teams">
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="card mb-3 cardTeamsInfo">
            <div class="row g-0">
              <div class="image-div">
                <img
                  src="{{league.competition.emblem}}"
                  alt="..."
                  class="card-img-top"
                />
              </div>
              <div class="card-body">

                <h1 class="card-title mb-2">{{league.competition.name}}</h1>
                <h2 class="card-title">{{league.filters.season}}</h2>
                <h3 class="card-title">{{league.area.code}}</h3>
                <p class="card-text">Start Date:
                  {{league.season.id}}</p>
                <p class="card-text">
                  End date:
                  {{league.season.endDate}}</p>
                <p class="card-text"><small class="text-muted">Current Matchday:
                    {{league.season.currentMatchday}}</small></p>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-4">
          <div class="card">
            <table class="table standing-table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Team Name</th>
                  <th scope="col">Played</th>
                  <th scope="col">Goal Diff</th>
                  <th scope="col">Points</th>
                </tr>
              </thead>
              <tbody>

                {{#each league.standings.0.table}}
                  <tr>

                    <td>{{position}}</td>
                    <td class="d-flex align-items-center"><img
                        style="max-height: 18px"
                        class="me-2"
                        src="{{team.crest}}"
                      />{{team.name}}</td>
                    <td>{{playedGames}}</td>
                    <td>{{goalDifference}}</td>
                    <td>{{points}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
        </div>

        <h2> Matches</h2>
        <ul class="nav nav-tabs ms-2 mt-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >Upcoming</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >Live</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >Finished</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          ><table
              id="example"
              class="table-dark table table-hover rounded rounded-3 overflow-hidden table-striped table-bordered table-sm"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th class="th-sm">Team 1</th>
                  <th class="th-sm">Team 2</th>
                  <th class="th-sm">Date</th>
                  <th class="th-sm">Time</th>
                  <th class="th-sm">Status</th>
                  <th class="th-sm">Stage</th>

                </tr>
              </thead>
              <tbody>
                {{#each matches}}
                  {{#ifEquals status "TIMED"}}
                    <tr>
                      {{#if homeTeam.name}}
                        <th>{{homeTeam.name}}

                          <img
                            src="{{homeTeam.crest}}"
                            width="15px"
                            height="15px"
                          /></th>
                      {{else}}
                        <th>-</th>
                      {{/if}}
                      {{#if awayTeam.name}}
                        <td>{{awayTeam.name}}

                          <img
                            src="{{awayTeam.crest}}"
                            width="15px"
                            height="15px"
                          /></td>
                      {{else}}
                        <th>-</th>
                      {{/if}}
                      <td>{{dateFormat utcDate " DD MMM  YYYY"}}
                      </td>
                      <td>{{dateFormat utcDate "h:mm a"}}
                      </td>
                      <td>{{status}}</td>
                      {{#if stage}}<td>{{stage}}</td>{{/if}}

                    </tr>
                  {{/ifEquals}}
                {{/each}}
              </tbody>
            </table>

          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          ><table
              id="table3"
              class="table-dark table table-hover rounded rounded-3 overflow-hidden table-striped table-bordered table-sm"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th class="th-sm">Team 1</th>
                  <th class="th-sm">Home vs Away</th>
                  <th class="th-sm">Team 2</th>

                  <th class="th-sm">Date</th>
                  <th class="th-sm">Time</th>

                  <th class="th-sm">Winning</th>

                </tr>
              </thead>
              <tbody>
                {{#each matches}}
                  {{#ifEquals status "IN_PLAY"}}
                    <tr>
                      {{#if homeTeam.name}}
                        <td>{{homeTeam.name}}

                          <img
                            src="{{homeTeam.crest}}"
                            width="15px"
                            height="15px"
                          /></td>
                      {{else}}
                        <td>-</td>
                      {{/if}}
                      <div class="grid">
                        <td
                          class="d-flex justify-content-center"
                        >{{score.fullTime.home}} - {{score.fullTime.away}}</td>
                      </div>
                      {{#if awayTeam.name}}
                        <td>

                          <img
                            src="{{awayTeam.crest}}"
                            width="15px"
                            height="15px"
                          />
                          {{awayTeam.name}}</td>
                      {{else}}
                        <th>-</th>
                      {{/if}}
                      <td>{{dateFormat utcDate "DD MMM  YYYY"}}
                      </td>
                      <td>{{dateFormat utcDate "h:mm a"}}
                      </td>

                      <td>

                        {{#ifEquals score.winner "HOME_TEAM"}}

                          <img
                            src="{{homeTeam.crest}}"
                            width="15px"
                            height="15px"
                          />
                          {{homeTeam.name}}

                        {{/ifEquals}}

                        {{#ifEquals score.winner "AWAY_TEAM"}}

                          <img
                            src="{{awayTeam.crest}}"
                            width="15px"
                            height="15px"
                          />
                          {{awayTeam.name}}

                        {{/ifEquals}}

                        {{#ifEquals score.winner "DRAW"}}

                          Draw

                        {{/ifEquals}}

                      </td>
                    </tr>
                  {{/ifEquals}}
                {{/each}}
              </tbody>
            </table></div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          ><table
              id="table2"
              class="table-dark table table-hover rounded rounded-3 overflow-hidden table-striped table-bordered table-sm"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th class="th-sm">Team 1</th>
                  <th class="th-sm">Home vs Away</th>
                  <th class="th-sm">Team 2</th>

                  <th class="th-sm">Date</th>
                  <th class="th-sm">Time</th>
                  <th class="th-sm">Status</th>
                  <th class="th-sm">Winner</th>

                </tr>
              </thead>
              <tbody>
                {{#each matches}}
                  {{#ifEquals status "FINISHED"}}
                    <tr>
                      {{#if homeTeam.name}}
                        <td>{{homeTeam.name}}

                          <img
                            src="{{homeTeam.crest}}"
                            width="15px"
                            height="15px"
                          /></td>
                      {{else}}
                        <td>-</td>
                      {{/if}}
                      <div class="grid">
                        <td
                          class="d-flex justify-content-center"
                        >{{score.fullTime.home}} - {{score.fullTime.away}}</td>
                      </div>
                      {{#if awayTeam.name}}
                        <td>

                          <img
                            src="{{awayTeam.crest}}"
                            width="15px"
                            height="15px"
                          />
                          {{awayTeam.name}}</td>
                      {{else}}
                        <th>-</th>
                      {{/if}}
                      <td>{{dateFormat utcDate "DD MMM  YYYY"}}
                      </td>
                      <td>{{dateFormat utcDate "h:mm a"}}
                      </td>
                      <td>{{status}}</td>

                      <td>

                        {{#ifEquals score.winner "HOME_TEAM"}}

                          <img
                            src="{{homeTeam.crest}}"
                            width="15px"
                            height="15px"
                          />
                          {{homeTeam.name}}

                        {{/ifEquals}}

                        {{#ifEquals score.winner "AWAY_TEAM"}}

                          <img
                            src="{{awayTeam.crest}}"
                            width="15px"
                            height="15px"
                          />
                          {{awayTeam.name}}

                        {{/ifEquals}}

                        {{#ifEquals score.winner "DRAW"}}

                          Draw

                        {{/ifEquals}}

                      </td>
                    </tr>
                  {{/ifEquals}}
                {{/each}}
              </tbody>
            </table></div>
        </div>

      </div>
      <h2 class="leagueTeamsTitle">League Teams</h2>
      <div class="teamList">
        {{#each teams}}
          <div class="flex">
            <div class="card teams-card" style="width: 15rem;">
              <div class="image-div">
                <img src="{{crest}}" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">

                  {{#if founded}}Founded:
                    <strong>{{founded}}</strong>
                    <br />
                  {{/if}}
                  {{clubColors}}
                </p>

                <a href="../{{id}}/team" class="btn check-team">Check Team</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </body>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.js"
  ></script><script
    type="text/javascript"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"
  ></script>
  <script>
    $(document).ready(function () { $('#example').DataTable(); });
    $(document).ready(function () { $('#table2').DataTable(); });
    $(document).ready(function () { $('#table3').DataTable(); });
  </script>
</html>