<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container team-info">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="card-img-top">
                <img src="{{team.crest}}" alt="..." />
              </div>
              <div class="card-body">

                <h1 class="card-title mb-2">{{team.name}}</h1>
                <h2 class="card-title">{{team.founded}}</h2>
                <p class="card-text">Venue: {{team.venue}}</p>
                <p class="card-text">
                  Competition:
                  {{team.runningCompetitions.0.name}}</p>
                <p class="card-text"><small
                    class="text-muted"
                  >{{team.website}}</small></p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12">
          <ul class="list-group list-players">
            <li class="list-group-item"><span style="font-weight:600;">
                <img
                  src="https://www.sciencekids.co.nz/images/pictures/flags680/{{team.coach.nationality}}.jpg"
                />
                {{team.coach.name}}</span>
              Coach
            </li>
            {{#each team.squad}}

              <li class="list-group-item">
                <span style="font-weight:600;">
                  <img
                    src="https://www.sciencekids.co.nz/images/pictures/flags680/{{nationality}}.jpg"
                  />{{name}}
                </span>
                {{position}}
              </li>

            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>